<!doctype html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>ch10_03</title>
  <script src="/angular-1.5.5/angular.js"></script>
  <style>
    ul {padding-left: 0px;}
    li {list-style-type: none;}
  </style>
</head>
<body>
<div ng-controller="MainController">
  人员信息：<input type="text" ng-model="personInfo" />
  <ul>
<!--    在指令中使用过滤器-->
<!--    filter过滤器用来处理一个数组，过滤出含有某个子串的元素，将过滤后的元素作为一个子数组来返回。它可以接收一个参数，用来定义子元素的规则匹配-->
<!--    这里过滤器绑定的是personInfo，也就是文本框的值-->
    <li ng-repeat="person in persons|filter:personInfo">
      姓名:{{person.name}},年龄：{{person.age}},性别：{{person.sex}}
    </li>
  </ul>
</div>
<script>
  var app = angular.module("app", []);
  app.controller("MainController", function($scope) {
    $scope.persons = [
      {name:"Smith",age:23,sex:"男"},
      {name:"Jack",age:30,sex:"男"},
      {name:"Jane",age:25,sex:"女"},
      {name:"LiLei",age:20,sex:"男"}
    ];
  });
</script>
</body>
</html>


